extends layout

block content
  h1 Create Your Card Here
  form(method="POST" action='/card')
    label(for="firstName") First:
    input(type="text" name="firstName" id="firstName" value = `${firstName_}`)

    label(for="lastName") Last:
    input(type="text" name="lastName" id="lastName" value = `${lastName_}`)

    label(for="type") Type
    select(name="type" id="type")
      option(value = "Bronze") Bronze
      option(value = "Standard") Standard
      option(value = "Premium") Premium

    label(for="dateOfBirth") DOB
    input(type="text" name="dateOfBirth" id="dateOfBirth" value = `${dateOfBirth_}`)

    label(for="addressLine1") Address Line 1:
    input(type="text" name="addressLine1" id="addressLine1" value = `${addressLine1_}`)

    label(for="addressLine2") Address Line 2:
    input(type="text" name="addressLine2" id="addressLine2" value = `${addressLine2_}`)

    label(for="city") City:
    input(type="text" name="city" id="city" value = `${city_}`)

    label(for="state") State
    select(name="state" id="state")
      option(value = "CA") CA
      option(value = "NV") NV
      option(value = "NA") NA

    label(for="zip") Zip Code:
    input(type="text" name="zip" id="zip" value = `${zip_}`)

    label(for="policyStartDate") Insurance Policy Start Date:
    input(type="text" name="policyStartDate" id="policyStartDate" value = `${policyStartDate_}`)

    button(type="submit") Create My Card